###################################################################################################
#### Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
####
#### Licensed under the Apache License, Version 2.0 (the "License"). You may not use this file
#### except in compliance with the License. A copy of the License is located at
####
#### http://aws.amazon.com/apache2.0/ 
####
#### or in the "license" file accompanying this file. This file is distributed on an "AS IS"
#### BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
#### License for the specific language governing permissions and limitations under the License.
###################################################################################################

###################################################################################################
#### This configuration file installs configures and mongodb driver for php7.4 and hardening httpd solution stack.
###################################################################################################

packages:
  yum:
    gcc: []

files:
  "/tmp/php_mongodb_driver_installation.sh" :
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      if [ ! -f /tmp/mongoinstalled2.txt ];
      then
        cp -a /etc/php.ini /etc/php.ini.bak
        echo "mongo extension cp -a /etc/php.ini /etc/php.ini.bak"
        git clone https://github.com/mongodb/mongo-php-driver.git 
        echo "mongo extension git clone https://github.com/mongodb/mongo-php-driver.git "
        cd mongo-php-driver
        echo "mongo extension cd mongo-php-driver"
        sudo git submodule update --init
        echo "mongo extension git submodule update --init"
        phpize
        echo "mongo extension phpize"
        ./configure
        echo "mongo extension ./configure"
        make all
        echo "mongo extension make all"
        make install
        echo "mongo extension sudo make install"
        echo "mongo extension installed" | sudo tee /tmp/mongoinstalled2.txt
        cp -a /etc/php.ini.bak /etc/php.ini
        echo "extension=mongodb.so" | sudo tee /etc/php.d/90-mongodb.ini
        service httpd restart
      fi


commands:
  10_prep_for_php_devel_mongodb_install:
    command: "sh /tmp/php_mongodb_driver_installation.sh"
    ignoreErrors: false
