:root {
    /*color para la ventana*/
    --color-doby: #add8e6;
    /*color para borde*/
    --primary: #eee;
    /*color para letras de botón*/
    --text-bottom: #ffff;
    /*color para letras de generales*/
    --text-letras: #ffff;
    /*color para botón*/
    --primary-bottom: rgb(0, 112, 180);
    /*color para cuando se presiona el botón*/
    --second-bottom: rgb(18, 84, 189);
    /*color del boton de inicio*/
    --bottom-segundo: #FF4081;
    /*color del borbe boton de inicio*/
    --bottom-segundo-dorder: #FF4081;
    /*color para cuando esta activo el botón*/
    --primary-dark: #ffff;
    /*color de la caja*/
    --caja: #fff;
    /*color del sombreado de la caja*/
    --caja-sombreado: rgba(0, 0, 0, 0.15);
    /*color del cuadro de texto*/
    --cuadro-texto: #252323;
    /*color h1*/
    --cuadro-h1: #FF4081;
    /*color alerta*/
    --alerta-color: #f00;
    /*Color de menu letras principal*/
    --color-letras-header: #000;
    /*Color barra principal*/
    --color-barra-principal: #1783db;
    /*Color barra secundaria*/
    --color-barra-secundaria: #fff;
    /*Color de menu letras secundario*/
    --color-letras-secundaria: #000;
    /*Color del dondo de la imagen*/
    --color-fondo-img: #1783db;

    /*color oso*/
    --cara: #fff;
    --oido-interno: #000;
    --oido-externo: #fff;
    --ojo-exterior: #000;
    --ojo-medio: #fff;
    --ojo-interior: #000;
    --nariz: #000;
    --cuerpo: #fff;
    --manos: #000;
    --pies: #000;
    --pies-dedos: #222;
    --pies-planta: #222;
}