.col-md-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-md-1 {
  -ms-flex: 0 0 8.333333%;
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
  text-align: initial;
  font-weight: bold;
}

.col-md-2 {
  -ms-flex: 0 0 16.666667%;
  flex: 0 0 16.666667%;
  text-align: initial;
  font-weight: bold;
}

.col-md-3 {
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  text-align: initial;
  font-weight: bold;
}
@media (min-width: 768px) {
  .col-md-3-2 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.col-md-3-2 {
  -ms-flex: 0 0 25%;
  flex: 0 0 75%;
  text-align: initial;
  font-weight: bold;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-md-4 {
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  text-align: initial;
  font-weight: bold;
}

.col-md-5 {
  -ms-flex: 0 0 41.666667%;
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
  text-align: initial;
  font-weight: bold;
}

.col-md-6 {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  text-align: initial;
  font-weight: bold;
}

.col-md-7 {
  -ms-flex: 0 0 58.333333%;
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
  text-align: initial;
  font-weight: bold;
}

.col-md-8 {
  -ms-flex: 0 0 66.666667%;
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
  text-align: initial;
  font-weight: bold;
}

.col-md-9 {
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  text-align: initial;
  font-weight: bold;
}

.col-md-10 {
  -ms-flex: 0 0 83.333333%;
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
  text-align: initial;
  font-weight: bold;
}

.col-md-11 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
  text-align: initial;
  font-weight: bold;
}

.col-md-12 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: initial;
  font-weight: bold;
}

.name-tag h1 {
  color: var(--cuadro-texto);
  font-family: sans-serif;
}

.btnPersonalizado {
  text-decoration: none;
  border-radius: 60px;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 9px 7px 12px #666666;
  border: solid var(--fondo-borde-parlantes) 2px;
  background: var(--fondo-parlantes);
  transition: all 0.2s linear;
}
.btnPersonalizado:hover {
  background: var(--fondo-parlantes-movimiento);
}

.btnPersonalizado2 {
  text-decoration: none;
  border-radius: 20px;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 9px 7px 12px #666666;
  border: solid var(--fondo-microfono-border) 2px;
  background-image: var(--fondo-microfono);
  transition: all 0.2s linear;
  padding: 1.3em;
}
.btnPersonalizado2:hover {
  background-image: var(--fondo-microfono-movimiento);
}

img {
  margin: 2%;
}

.checkeable input {
  display: none;
}

.checkeable img {
  border: solid transparent;
}

.checkeable input {
  display: none;
}

.checkeable {
  box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 20%);
  border-radius: 30px;
  padding: 0.6em;
  background: var(--fondo-fotos-normal);
  margin: 2%;
}

.checkeable input:checked + img {
  border-color: var(--border-imagen);
  background: var(--fondo-imagen);
  border-radius: 30px;
}

input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-JASoft {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 30px;
  background: #555;
  border-radius: 15px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.6),
    0px 1px 0px rgba(255, 255, 255, 0.3);
}

.checkbox-JASoft label {
  /* aspecto */
  display: block;
  width: 34px;
  height: 20px;
  border-radius: 17px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  background: #fcfff4;
  background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  cursor: pointer;

  /* Posicionamiento */
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  /* Comportamiento */
  transition: all 0.4s ease;

  /* ocultar el posible texto que tenga */
  overflow: hidden;
  text-indent: 35px;
  transition: text-indent 0s;

  background: var(--color-check-micro-foto);
}

.checkbox-JASoft input[type="checkbox"]:checked + label {
  left: auto;
  right: 5px;
}

.checkbox-JASoft:after {
  font: 12px/30px Arial, sans-serif;
  color: #aaa;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.2);
}

.checkbox-JASoft:before {
  font: 12px/30px Arial, sans-serif;
  color: lime;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.checkbox-Vacio {
  display: inline-block;
  position: relative;
  width: 70px;
  height: 30px;
  background: #555;
  border-radius: 15px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.6),
    0px 1px 0px rgba(255, 255, 255, 0.3);
}

.checkbox-Vacio label {
  /* aspecto */
  display: block;
  width: 34px;
  height: 20px;
  border-radius: 17px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.35);
  background: #fcfff4;
  background: linear-gradient(to top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  cursor: pointer;

  /* Posicionamiento */
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;

  /* Comportamiento */
  transition: all 0.4s ease;

  /* ocultar el posible texto que tenga */
  overflow: hidden;
  text-indent: 35px;
  transition: text-indent 0s;
}

.checkbox-Vacio input[type="checkbox"]:checked + label {
  left: auto;
  right: 5px;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  visibility: hidden;
}

.panel-heading {
  padding: 3%;
}
.panel-default > .panel-heading {
  background-color: #ffffff;
  border-color: #cfdbe2;
}
.pull-left {
  float: left !important;
}
.label-success {
  font-weight: bold;
}
.page-item.active .page-link {
  z-index: 3;
  color: var(--color-barra-secundaria);
  background-color: var(--primary-bottom);
  border-color: var(--primary-bottom);
}
.page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: var(--color-barra-secundaria);
  border: 1px solid #dee2e6;
}

.textoPreguntas {
  font-size: 25px;
  display: contents;
}
.tamanoIcono {
  font-size: 25px;
}
.tamanoIcono2 {
  font-size: 30px;
}
.tamanoIcono2 {
  font-size: 30px;
}
.breadcrumb {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: var(--color-doby);
  border-radius: 0.25rem;
  box-shadow: 0px 0px 50px 0px rgb(92 23 23 / 69%);
}

.estiloGlobal {
  margin: 30px;
  padding: 20px;
  box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 20%);
  background: var(--color-doby);
  bottom: 3em;
  top: 8em;
  width: 90%;
  right: 2.2em;
  left: 7em;
  position: fixed;
  overflow: overlay;
  margin-inline: auto;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.table-bordered {
  border: 1px solid var(--color-tabla-fonto-border);
  background: var(--color-tabla-fonto);
}

.modal-content {
  background-color: var(--color-doby);
}

.estilo-Personalizado-B {
  font-size: 2rem;
  text-decoration: none;
  border-radius: 60px;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 9px 7px 12px #666666;
  border: solid var(--fondo-botones-boder-ejecucion) 2px;
  background: var(--fondo-botones-ejecucion);
  transition: all 0.2s linear;
  margin: 6px;
}
.estilo-Personalizado-B:hover {
  background: var(--fondo-botones-ejecucion-movimiento);
}

.color-fotos {
  box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 20%);
  border-radius: 30px;
  padding: 0.6em;
  background: var(--fondo-fotos-primeras);
}

.fotosMicrofono {
  text-decoration: none;
  box-shadow: 0px 1px 3px #666666;
  text-shadow: 9px 7px 12px #666666;
  border: solid #e8d5a0 2px;
  background: #ebdbb0;
  transition: all 0.2s linear;
  padding: 0.7em;
}

.col-md-11-2 {
  -ms-flex: 0 0 91.666667%;
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}

.col-md-1-2 {
  flex: 0 0 8.333333%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  box-shadow: 1px 1px 10px 0px rgb(0 0 0);
  background: var(--fondo-botones);
  height: 20em;
}

@media screen and (max-width: 1055px) {
  .col-md-1-2 {
    flex: 0 0 100%;
    display: flex;
    box-shadow: 1px 1px 10px 0px rgb(0 0 0);
    background: var(--fondo-botones);
    flex-direction: row;
    height: auto;
  }
}

@media screen and (max-width: 500px) {
  .estiloGlobal {
    margin: 30px;
    padding: 20px;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 20%);
    background: var(--color-doby);
    bottom: 3em;
    top: 8em;
    position: fixed;
    overflow: overlay;
  }
}
@media screen and (max-width: 300px) {
  .estiloGlobal {
    margin: 30px;
    padding: 20px;
    box-shadow: 0px 0px 50px 0px rgb(0 0 0 / 20%);
    background: var(--color-doby);
    bottom: 3em;
    top: 8em;
    position: unset;
    overflow: overlay;
  }
}

.modal-backdrop {
  width: 0vw;
}

.conjunto-Microfono {
  display: -webkit-inline-box;
}
.required::before {
  content:" *";
  color: red;
}